@charset "utf-8";
/* CSS Document */

.main{ overflow:hidden; zoom:1; width:1008px; position:relative; left:50%; margin-left:-504px;margin-top: 30px;}
.page01Right{/* border: 1px solid #000;*/ width: 850px;}
.page01Nav li{ float: left; line-height: 40px; font-size: 14px;}
.page01Nav li.one{ width: 100px; border: 1px solid #ccc; border-bottom: none; text-align: center;}
.page01Nav li.two{ border-bottom: 1px solid #ccc; width: 748px;height: 40px;}
.page01Sec{ margin-top: 20px; padding:10px;}
.page01Sec input{ float: left; width: 150px; height: 30px; background: #43bc00; border:none; color: #fff; font-size: 14px; border-radius: 3px;}
.page01Sec span{ float: right; border: 1px solid #ccc; border-radius: 3px; font-size: 14px; padding-left:30px; line-height: 30px; width: 70px; background: url(../images/find.png) no-repeat 5px center;}

.page01Sec ul li.three{ width: 190px;}
.page01Sec ul li.three input{ display: block;; border: 1px solid #ccc; border-radius: 3px 0 0 3px; font-size: 14px; padding-left:30px; line-height: 30px; width: 160px; background: url(../images/find.png) no-repeat 5px center; color:#999; height: 28px; border-right:none; padding-right:10px;}
.page01Sec ul li.four input{ width:80px; height:30px; background:#007ADE; text-align:center; border:0; border-radius:0 3px 3px 0;/* border:1px solid #007ade;*/ color:#fff; cursor:pointer;}
.page01Sec ul li.four{ width:80px;}

.page01Title{ margin-top: 20px; background: #f8f8f8; border-bottom: 1px solid #ccc; padding:10px; font-size: 14px;}
.page01Title li{ float: left; line-height: 30px;}
.page01Title li.one{ width: 320px;}
.page01Title li.two{ width: 170px; text-align: center; color: #327095;}
.page01Title li.three{ width: 170px; text-align: center; color: #327095;}
.page01Title li.four{ width: 170px; text-align: center;}
.page01Class{ border-bottom: 1px solid #ccc; padding:10px; font-size: 14px;}
.page01Class li{ float: left; line-height: 30px;}
.page01Class li.one{ width: 320px; color: #160958;}
.page01Class li.two{ width: 170px; text-align: center;}
.page01Class li.three{ width: 170px; text-align: center;}
.page01Class li.four{ width: 170px; text-align: center; color: #327095;}
.page01Class li.four a{ color: #327095;}
.page01Right p{ text-align: right; margin-top: 10px; padding:10px;}
















