@charset "utf-8";
/* CSS Document */
.main{ overflow:hidden; zoom:1; width:1124px; position:relative; left:50%; margin-left:-562px;margin-top: 30px;}
.flow{ width: 735px; height: 76px; background: #f8f8f8; border: 1px solid #ccc; padding:15px 120px;}
.flow .text01{ overflow: hidden; zoom: 1; font-size: 14px; font-weight: bold;}
.flow .text01 li{ float: left;}
.flow .text01 li.one,.flow .text01 li.two,.flow .text01 li.three{ float: left; margin-right: 130px; color: #83ccff; }
.flow .text01 li:nth-child(1){ margin-left: 30px;}
.flow .text02{overflow: hidden; zoom:1;}
.flow .text02 li{ float: left; margin-top: 10px;}
.flow .text02 li.one,.flow .text02 li.three,.flow .text02 li.five{ width: 18px; height: 18px; border-radius: 50%; background: #83ccff; text-align: center; line-height: 18px; color: #fff;}
.flow .text02 li.one{ margin-left: 49px;}
.flow .text02 li.seven{ width: 18px; height: 18px; border-radius: 50%; line-height: 18px; text-align: center; color: #fff; background: #999;}
.flow .text02 li.two,.flow .text02 li.four,.flow .text02 li.six{ width: 174px; height: 4px; background: #83ccff; margin-top: 17px;}
.flow .text02 li.six{ background: #999;}
.flow .text03{ overflow: hidden; zoom: 1; margin-top: 10px; color: #999;}
.flow .text03 li{ float: left;}
.flow .text03 li.one,.flow .text03 li.two,.flow .text03 li.three{ margin-right: 74px;}


.inMain .list{ margin-top: 20px;border: 1px solid #ccc; background: #f8f8f8; overflow: hidden; zoom:1;}
.list .listLeft{ padding: 10px; width: 360px; border: 1px solid #ccc; margin-left: -1px; border-top:none; border-bottom:none;}
.listHeader{ overflow: hidden; zoom:1;}
.listHeader span{ font-weight: bold; font-size: 15px;}
.listHeader em{ font-weight: bold; color: #d48753; font-size: 14px;}
.sellNews{ margin-top: 10px; font-size: 14px; color: #999; border-bottom: 1px dashed #ccc;}
.sellNews a{color: #83ccff;}
.sellNews span{ margin-bottom: 10px; display: inline-block; width: 70px; text-align: right;}
.liveWay{ font-size: 14px; color: #999; margin-top: 10px;}
.liveWay span{ width: 70px; text-align: right; margin-bottom: 10px; display: inline-block;}
.liveWay a{color: #83ccff; font-size: 14px; margin-left: 75px;}
.ewm{ margin-top: 30px; background:#fffae6; border: 1px solid #ccc; overflow: hidden; zoom:1;}
.ewm img{ width: 78px; height: 78px;  border-right: 1px solid #ccc; margin-right: 10px;}
.ewm p{ margin-top: 10px; font-size: 14px;}

.list .listRight{ width: 574px; border: 1px solid #ccc; margin-left: -1px; border-top: none; padding: 10px; border-right: none;border-bottom: none;}
.listRight .listState{ border-bottom: 1px dashed #ccc;}
.listRight .stateHeader span{ display: block; float: left; margin-right: 10px; width: 30px; height: 30px; border: 2px solid #83ccff; color: #83ccff; border-radius: 50%; text-align: center; line-height: 30px; font-size: 18px; font-weight: bold;}
.listRight .stateHeader p.one{ font-weight: bold; font-size: 15px;}
.listRight .stateHeader p.two{ font-size: 14px; color: #999;}
.listRight .stateHeader p.two em{ color: #fd9d46;}
.alter{ margin-top: 26px; margin-bottom: 26px;}
.alter input{ width: 75px; height: 30px; background: #0077dd; border:none; border-radius: 3px; color: #fff; margin-right: 20px; cursor: pointer;}
.alter em{ color: #0077dd; margin-left:40px; margin-right:10px; cursor: pointer;}
.alter input.one{ margin-left: 50px;}
.alter ul{ display:none; width: 300px; }
.alter li{ width: 16px; height: 16px; background: url(../images/star-off.png); float: left; margin-bottom: 10px; cursor:pointer; margin-right:3px;}
.alter li.sel{ width: 16px; height: 16px; background: url(../images/star-on.png);}
	
	
.vendor{ margin-top: 10px; font-size: 15px; border-bottom: 1px dashed #ccc; height: 124px;}
.vendor p{ text-indent: 2em; overflow: hidden; word-wrap: break-word;} 
.remind{ margin-top: 10px;}
.remind em{ color: #d9702f; font-size: 15px; margin-bottom: 10px; display: block;;}
.remind p{ font-size: 14px; color: #999; line-height: 26px;}
.entry{ margin-top: 20px;}
.entryNav{ overflow: hidden; zoom: 1; background: #f2f2f2; color: #999; font-size: 14px; border: 1px solid #ccc;}
.entryNav li{ float: left; line-height: 40px; width: 103px; text-align: center;}
.entryNav li.one{width: 350px;}
.cargo{ overflow: hidden; zoom: 1;}
.carGo{ overflow: hidden; zoom:1; background: #f8f8f8;border: 1px solid #ccc; border-top: none;}
.carGo li{ float: left; line-height: 40px;}
.carGo li.one{ font-size: 16px; width: 132px; text-align: center;}
.carGo li.two{ color: #999; font-size: 14px; width: 70px;}
.carGo li.three{ color: #999; font-size: 14px; width: 180px;}
.carGo li.four{ color: #7d8e64; font-size: 14px; width: 360px;}
.carGo li.five{ color: #326f9c; font-size: 14px; width: 87px;}

.fare{ overflow: hidden; zoom: 1; height: 70px;border: 1px solid #ccc; border-top: none;}
.fare li{ float: left;}
.fare li.one{ width: 50px; height: 50px; margin-top: 10px; margin-left: 10px; border: 1px solid #ccc;}
.fare li.two{ width: 271px; font-size: 13px; color: #2e69a5;padding-left: 25px; margin-top: 10px;}
.fare li.three,.fare li.four,.fare li.five,.fare li.six,.fare li.seven{ width: 103px; text-align: center; margin-top: 10px; font-size: 14px;}
.cargo .right{ width: 101px; height: 111px; border: 1px solid #ccc; color: #999; line-height: 108px; text-align: center; border-top: none; border-left: none;}
.amount{ padding:20px; background: #f2f2f2;}
.amount div.right p{ font-size: 13px; color: #666; text-align: right; line-height: 24px;}
.amount div.right p strong{ font-size: 14px; color:#55BD47;}
.amount span.left{font-size: 14px; line-height: 24px;}
.amount span.left i{ color: #f40;}



