@charset "utf-8";
/* CSS Document */
/*body{ background:#C69;}*/
.sign{ max-width:640px; min-height:320px; margin:100px auto; border:1px #000 solid;}
.inSign{ width:300px; margin:100px auto; border:1px #000 solid; padding:20px; border:#666 1px solid; border-radius:6px;}
.inHeader .logo a{ display: block;background: url(../images/logo.png) no-repeat center; height: 51px; width: 132px; line-height: 51px; text-align: center; text-indent: -9999px; margin-top: 20px;}
.inSign .logo a{ width:132px; height:51px; background:url(../images/logo.png) no-repeat center; line-height:51px; display:block; text-align:center; text-indent:-9999px;}


































