<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><!-- {if $title neq ''}{$title} - 后台管理{else}后台管理{/if}--></title>
<link type="text/css" rel="stylesheet" href="css/base.css?1" />
<!-- {if $nav_left neq 'goods_cat'}-->
<link type="text/css" rel="stylesheet" href="css/offer.css" />
<link type="text/css" rel="stylesheet" href="css/other.css" />
<!-- {/if}-->
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
</head>

<body>
<div class="header">
    <div class="inHeader clearfix">
        <div class="logo left"><a href="#">麦考林</a></div>
        <div class="headerRgiht right">
            <ul class="headerNav clearfix">
                <li{if @$nav=='shop'} class="current"{/if}><a href="shop.php?act=overview">店铺</a></li>
                <li{if @$nav=='goods'} class="current"{/if}><a href="goods.php">商品</a></li>
                <li{if @$nav=='order'} class="current"{/if}><a href="order.php">订单</a></li>
                <li><a href="">客户</a></li>
                <li><a href="">微信</a></li>
                <li><a href="">应用和营销</a></li>
                <li class="seven"><a href="">数据中心</a></li>
                <li class="eight"><a href="">退出</a></li>
            </ul>
        </div>
    </div>
</div>