@charset "utf-8";
/* CSS Document */

.main{ overflow:hidden; zoom:1; width:1124px; position:relative; left:50%; margin-left:-562px;margin-top: 30px;}
.mainRight{ width: 980px; border:1px #000 solid;}

/*基本信息筛选*/
.shaixuanHeader01{ padding:20px 50px; background:#F2F8FE;}
































