
@charset "utf-8";
/* CSS Document */
.main{ overflow:hidden; zoom:1; width:1124px; position:relative; left:50%; margin-left:-562px;margin-top: 30px;}
.mainRight{ width: 960px;}
.cludeHeader ul li{ float: left;}
.cludeHeader ul li a{ color: #333; font-size: 12px; display: block; border:1px solid #ccc; padding:0 12px; display: inline-block; box-sizing: border-box; min-width: 80px; text-align: center;line-height: 32px; margin-left: -1px; margin-bottom: 1px;}
.cludeHeader ul li.line{ border-bottom: 1px solid #ccc; width: 79px; height: 33px;}
.cludeHeader ul li a.current{ border-bottom: #fff; margin-bottom: 1px;}
.cludeHeader ul li.right{ float: right;}
.cludeHeader ul li.right a{color: #3A96E5; font-size: 12px;margin-bottom: 1px solid #e5e5e5;}
.cludeHeader ul{ margin-left: 1px; margin-bottom: -1px; border-left: 1px solid #e5e5e5;}
.cludeHeader ul li.right span{margin-bottom: 1px solid #e5e5e5; display: block;}
.cludeHeader div a{font-size: 12px; color:#3A96E5; padding:0 5px;}
.cludeHeader div{border-bottom: 1px solid #e5e5e5; line-height: 33px;}
.cludeHeader i{ float: left; display: block; width: 237px; border-bottom: 1px solid #e5e5e5; height: 33px;}
.cludeHeader{ margin-bottom: 15px;}
.cludeNews{ width: 960px;}
.inNews{ padding:20px; background: #f8f8f8;}
.inNews img{ width: 80px; height: 80px;border: 1px solid #000; display: block; float: left; margin-right: 20px;}
.inNews p{line-height: 26px; color: #999; font-size: 12px;}
.inNews p a{color: #3A96E5; font-size: 12px; }
.cludeNews .center li{ float: left; padding:10px; border-right: 1px solid #ccc; width: 255px;}
.cludeNews .center{ border: 1px solid #ccc; margin-top: -1px; padding: 10px;}
.cludeNews .center p{ text-align: center; color: #999; line-height: 32px;}
.cludeNews .center li.last{ border-right: none;}
.cludeNews .center em{ display: inline-block; width: 150px; margin-right: 25px; text-align: right; color: #999;}
.cludeNews .center em i{ font-size: 25px; color:#FF6600; }
.cludeNews .center a{ display: inline-block; color: #3a96e5; font-size: 12px;}
.cludeNews .center .last a{ width: 35px; background: #3a96e5; color: #fff; line-height: 25px; border-radius: 3px; text-align: center; margin-right: 5px;}
.cludeNews .center .last span{ width: 35px; background: #3a96e5; color: #fff; line-height: 25px; border-radius: 3px; text-align: center; margin-right: 5px;background: #8DB0CE; display: inline-block; cursor: pointer;}
.cludeNews .center .last a.tx{background: #3a96e5;display: none;}

/* 认证弹框 */
.certif{ width: 100%; height: 100%; position: fixed; top: 0 ;left: 0; background: rgba(255,255,255,0.6); display: none;}
.inCertif{ margin:100px auto; border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 6px; width: 350px; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); background: #fff;}
.certifOne{ line-height: 24px; padding:10px 20px;}
.certifOne i{font-size: 24px; color: #ccc; display: block;}
.certifOne i:hover{ color: #333; cursor: pointer;}
.inCertif p{ padding:20px 20px; display: block; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-size: 12px; color: #333;}
.certifTwo{padding: 20px; background: #f8f8f8; text-align: right;}
.certifTwo a{ background: #3a96e5; color: #fff; border-radius: 3px; line-height: 30px; padding: 0 10px; font-size: 12px; display: inline-block; margin-right: 10px;}
.certifTwo span{ display: inline-block; line-height: 30px; padding:0 10px; cursor: pointer; border:1px solid #ccc; background: #fff; border-radius: 3px;}
.inCertifTwo{ width: 100%; height: 100%; position: fixed; top: 0 ;left: 0; background: rgba(255,255,255,0.6); display: none;}
.inCertifTwo .certifTwo span{ margin-right: 10px; background: #3a96e5; border: none;}
.inCertifTwo .certifTwo a{background: #fff; border: 1px solid #ccc; color: #333;}

/* 收支明细 */
.budget{ padding:20px 30px; background: #f8f8f8;}
.budget span{ display: inline-block; width: 80px; text-align: right; line-height: 28px;font-size: 13px;}
.budget input{ padding:0 10px; border-radius: 3px; border:1px #ccc solid; width: 150px; line-height: 28px; font-size: 13px; }
.budget em{ margin-left: 10px; margin-right: 10px; }
.budget select{ width: 170px; line-height: 28px; padding-left: 10px; border: 1px #ccc solid; border-radius: 3px; height: 30px; margin-left: -2px; color: #555;}
.budget .cxBtn{ width: 80px; line-height: 28px; background: #0080ed; border-radius: 3px; color: #fff; text-align: center; border: none; margin-left: 34px; cursor: pointer;}
.budget .dcBtn{ width: 80px; line-height: 28px; border-radius: 3px; color: #555; text-align: center; border:1px #ccc solid; margin-left: 20px; background: #fff; cursor: pointer;}
.nothing{ padding:10px; border: 1px solid #ccc; margin-top: 20px; text-align: center;}

/* 保证金记录 */
.bail{ padding:20px 30px; background: #f8f8f8;}
.bail span{ display: inline-block; width: 80px; text-align: right; line-height: 28px;font-size: 13px;}
.bail input{ padding:0 10px; border-radius: 3px; border:1px #ccc solid; width: 150px; line-height: 28px; font-size: 13px; }
.bail em{ margin-left: 10px; margin-right: 10px; }
.bail select{ width: 170px; line-height: 28px; padding-left: 10px; border: 1px #ccc solid; border-radius: 3px; height: 30px; margin-left: -2px; color: #555;}
.bail .cxBtn{ width: 80px; line-height: 28px; background: #0080ed; border-radius: 3px; color: #fff; text-align: center; border: none; margin-left: 34px; cursor: pointer;}
.bail span.bajzt{ margin-left: 13px;}

/* 提现记录 */
.cash{ padding:20px 30px; background: #f8f8f8;}
.cash .right{ text-align: right; color: #999; line-height: 24px;}
.cash .right a{ font-size: 12px; color: #0080ed;}
.cash span{ display: inline-block; width: 80px; text-align: right; line-height: 28px;font-size: 13px;}
.cash input{ padding:0 10px; border-radius: 3px; border:1px #ccc solid; width: 150px; line-height: 28px; font-size: 13px; }
.cash em{ margin-left: 10px; margin-right: 10px; }
.cash select{ width: 170px; line-height: 28px; padding-left: 10px; border: 1px #ccc solid; border-radius: 3px; height: 30px; margin-left: -2px; color: #555;}
.cash .cxBtn{ width: 80px; line-height: 28px; background: #0080ed; border-radius: 3px; color: #fff; text-align: center; border: none; margin-left: 34px; cursor: pointer;}

/* 交易记录 */
.deal{ padding:20px 30px; background: #f8f8f8;}
.deal span{ display: inline-block; width: 80px; text-align: right; line-height: 28px;font-size: 13px;}
.deal input{ padding:0 10px; border-radius: 3px; border:1px #ccc solid; width: 150px; line-height: 28px; font-size: 13px; }
.deal em{ margin-left: 10px; margin-right: 10px; }
.deal select{ width: 170px; line-height: 28px; padding-left: 10px; border: 1px #ccc solid; border-radius: 3px; height: 30px; margin-left: -2px; color: #555;}
.deal .cxBtn{ width: 80px; line-height: 28px; background: #0080ed; border-radius: 3px; color: #fff; text-align: center; border: none; margin-left: 16px; cursor: pointer;}

/*不可用余额*/
.surplus{ width:918px; border:1px #ccc solid; padding:20px; text-align:center; background:#f8f8f8;}

/*二维码*/
.codein{ width:918px; padding:20px;}
.incode{ width:580px; margin:0 auto; padding:10px;}
.incode p{ text-align:center; font-weight:bold; font-size:14px; color:#000;}
.incode .checks{ text-align:center; color:#0077DD; display:block; margin-top:20px;}
.incode .ewm{ width:450px; margin:20px auto;}
.incode .ewm span{ width:200px; display:inline-block; text-align:center; padding:10px;}
.incode .ewm span img{ width:150px; height:150px; border:1px #ccc solid; margin:20px auto;}
.incode .ewm span a{ color:#07d;}



