@charset "utf-8";
/* CSS Document */

.main{ overflow:hidden; zoom:1; width:1124px; position:relative; left:50%; margin-left:-562px;margin-top: 30px;}
.shopHeader{ width: 920px; padding:20px; background: #f8f8f8; }
.shopHeader li{ float: left; text-align: center; width: 150px; border-right: 1px dotted #999;}
.shopHeader li.six{ border-right: none;}
.shopHeader li span{ font-size: 16px;}
.shopNav{ padding:10px; background: #f8f8f8; margin-top: 20px;}
.shopNav i{ display: block;; width: 18px; height: 18px; border-radius:50%; background: #999; color: #fff; font-weight: bold; text-align: center; line-height: 18px; margin-right: 5px; cursor: pointer;}

.shopNav i:hover{ background:#44BB00; }
.shopNav span{ padding-left: 15px; border-left: 3px #f17a12 solid; display: block; font-size: 14px; font-weight: bold;}
.shopNav span a{ font-size: 13px; color: #08157b; margin-left: 10px; font-weight: normal;}
.shopNav2 i:hover{ background:#44BB00; }
.shopNav2 span{ padding-left: 15px; border-left: 3px #f17a12 solid; display: block; font-size: 14px; font-weight: bold;}
.shopNav2 span a{ font-size: 13px; color: #08157b; margin-left: 10px; font-weight: normal;}
.shopNav2{ padding:10px; background: #f8f8f8; margin-top: 20px;}
.shopNav2 i{ display: block;; width: 18px; height: 18px; border-radius:50%; background: #999; color: #fff; font-weight: bold; text-align: center; line-height: 18px; margin-right: 5px; cursor: pointer;}

.tit{ margin-top: 20px; border: 1px solid #ccc;}
.tit img{ display:inline-block; border:0;}
.shopNews{border: 1px solid #ccc; width: 958px; margin-top: 20px; border-bottom: none;}

.shopNavs ul{ padding:10px; background: #f8f8f8; border-bottom: 1px solid #ccc;}
.shopNavs ul li{ float: left; line-height: 30px; width: 120px; text-align: center;}
.shopNavs ul li.one{ width: 330px; text-align: left;}
.shopNews{ border: 1px solid #ccc; border-bottom: none;}
.shopNews p a{color: #08157b;}
.navNew ul{ padding: 10px; border-bottom: 1px solid #ccc;}
.navNew ul li{float: left; width: 120px; text-align: center;}
.navNew ul li.one{ width: 330px; text-align: left;}
.navNew ul li.one a{ font-size: 14px; color: #3536FD;}
.navNew:hover{ background: #f8f8f8;}

.mainRight{ position: relative;}
.mainRight .tankuang01{ position: absolute; width: 266px; height: 203px; background: url(../images/tankuang2.png) no-repeat center; top: 513px; right: 0; padding:10px; display: none;}
.mainRight .tankuang01 p{ font-size: 12px; margin-top: 5px;}

.mainRight .tankuang02{ position: absolute; right: 0; width: 266px; padding:10px; height: 163px; background: url(../images/tankuang01.png) no-repeat center; top: 133px; display: none;}
.mainRight .tankuang02 p{ font-size: 12px; margin-top: 5px;}
















