<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="resource/css/base.css" />
<link rel="stylesheet" href="resource/css/swiper.css" />
<title>{if $nav_title}{$nav_title}{else}麦考林购物{/if}</title>
<meta name="keywords" content="关键字,关键字" />
<meta name="description" content="描述" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="author" content="m.wm18.com" />
<script src="resource/js/jquery.min.js"></script>
<script src="resource/js/base.js"></script>
</head>

<body>
<!--头部-->
<script>header('{if $nav_title}{$nav_title}{else}麦考林购物{/if}');</script>