{include file="common/header.htm"}
<!--忘记密码-->
<div class="height10"></div>
<div class="forgetPassword">
     <div class="addBankCardBoxList">
     	  <ul>
          <li><span>原密码</span><input name="password_old" type="password" placeholder="请输入原密码"></li>
          <li><span>输入密码</span><input name="password" type="password" placeholder="请输入六位数字密码"></li>
          <li><span>确认密码</span><input name="password_confirm" type="password" placeholder="请再次输入密码"></li>
          </ul>
     </div>
     <div class="determine"><input name="" type="button" value="确定" class="button_submit"></div>
</div>
<script type="application/javascript">
$(function ()
{
	$(".button_submit").live("click",function ()
	{
		password_old=$("input[name='password_old']").val();
		password=$("input[name='password']").val();
		password_confirm=$("input[name='password_confirm']").val();
		var reg =/^[0-9]{6}$/; 
		if(password_old=='')
		prompt_(4,"请输入六位原数字密码");
		else if(password_old.length!=6)
		prompt_(4,"密码长度不对，请输入六位原数字密码");
		else if(!reg.test(password_old))
		prompt_(4,"格式不对，请输入六位原数字密码");
		else if(password=='')
		prompt_(4,"请输入六位数字密码");
		else if(!reg.test(password))
		prompt_(4,"格式不对，请输入六位数字密码");
		else if(password=="123456" || password=="000000")
		prompt_(4,"密码过于简单，请输入六位数字密码");
		else if(password_confirm=='')
		{
			prompt_(4,"请输入六位数字确认密码");
			return false;
		}
		else if(password!=password_confirm)
		prompt_(4,"密码和确认密码不相等，请输入六位数字密码");
		else
		{
			data={"password_old":password_old,"password":password};
			$.post("setting.php?act=ajax_withdraw_modify_password",data,function (res)
			{
				if(res.error==0)
				prompt_(4,"修改提现密码成功",'{$site_url}/setting.php');
				else
				prompt_(4,res.info);
			},"json");
		}
	})
})
</script>
<script>footer('5','1');</script>
{include file="common/footer.htm"} 