{include file="common/header.htm"}
<!--设置密码-->
<div class="withdrawalsPasswordBox">
	 <dl>
     	<dt>您还未设置密码，请先设置提现密码</dt>
        <dd><span>输入密码</span><input name="password" type="password" placeholder="请输入六位数字密码"></dd>
        <dd><span>确认密码</span><input name="password_confirm" type="password" placeholder="请再次输入密码"></dd>
     </dl>
     <div class="determine"><input name="" type="button" value="确定" class="button_submit"></div> <!--onClick="prompt_(5);"-->
</div>

<!--尾巴-->
<script type="application/javascript">
$(function ()
{
	$(".button_submit").live("click",function ()
	{
		password=$("input[name='password']").val();
		password_confirm=$("input[name='password_confirm']").val();
		var reg =/^[0-9]{6}$/; 
		if(password=='')
		prompt_(4,"请输入六位数字密码");
		else if(password.length!=6)
		prompt_(4,"密码长度不对，请输入六位数字密码");
		else if(!reg.test(password))
		prompt_(4,"格式不对，请输入六位数字密码");
		else if(password=="123456" || password=="000000")
		prompt_(4,"密码过于简单，请输入六位数字密码");
		else if(password!=password_confirm)
		prompt_(4,"密码和确认密码不相等，请输入六位数字密码");
		else
		{
			data={"password":password};
			$.post("setting.php?act=ajax_withdraw_set_password",data,function (res)
			{
				if(res.error==0)
				prompt_(4,"提现密码设置成功",'{$site_url}/setting.php');
				else
				prompt_(4,res.info);
			},"json");
		}
	})
})
</script>
<script>footer('5','1');</script>
{include file="common/footer.htm"} 