{include file="common/header.htm"}
<div class="main">
    <div class="offerMain">
    	<div class="mainLeft left">
         <span><a href="goods.php">所有商品</a></span>
         <div class="naver">
            <em>商品管理</em>
            <ul class="leftNav">
            	<li{if $nav_left eq ""} class="cur"{/if}><a href="goods.php">仓库中的商品</a></li>
                <li{if $nav_left eq "is_show"} class="cur"{/if}><a href="goods.php?type=is_show">出售中的商品</a></li>
                <li{if $nav_left eq "sell_out"} class="cur"{/if}><a href="goods.php?type=sell_out">已售罄的商品</a></li>
                <li{if $nav_left eq "is_show_no"} class="cur"{/if}><a href="goods.php?type=is_show_no">未审核的商品</a></li>
                <li{if $nav_left eq "goods_cat"} class="cur"{/if}><a href="goods_cat.php">商品分组</a></li>
            </ul>
         </div>
        </div>
        <div class="mainRight right">  
            <div class="offerHeader">
                <span class="left"> {$title}</span>
                <ul class="right">
                 <form action="goods.php">
                    <li class="one">
                       
                            <select name="wares" id="" class="left">
                                <option value="全部商品">全部商品</option>
                                <option value="一般商品">一般商品</option>
                                <option value="分销商品">分销商品</option>
                                <option value="会员卡">会员卡</option>
                            </select>
                            <select name="sart" id="" class="left two">
                                <option value="所有分组">所有分组</option>
                                <option value="列表中隐藏">列表中隐藏</option>
                                <option value="最热商品">最热商品</option>
                                <option value="最新商品">最新商品</option>
                            </select>
                        
                    </li>
                    <li class="three"><input name="keyword" type="text" placeholder="请输入关键词" value="{$keyword}"/><input type="hidden" name="type" value="search"/></li>
                    <li class="four"><input type="submit" value="搜索"></li>
                    </form>
                </ul>
            </div>

            <div class="offerNav" id="offerNav">
                <ul class="inNav">
                    <li class="one"><input type="checkbox" id="click" onclick="check()" />&nbsp;&nbsp;商品&nbsp;&nbsp;<em>价格</em></li>
                    <li class="two">访问量</li>
                    <li class="three">库存</li>
                    <li class="four">总销量</li>
                    <li class="five">创建时间↓</li>
                    <li class="six">序号</li>
                    <li class="seven">操作</li>
                    <li class="eight">审核</li>
                    <li class="nine">上架</li>
                </ul>
            </div>
            <div class="inlie" id="inlie">
{foreach from=$info item=info}
                <div class="lieThing">
                    <ul class="thing clearfix" id="thing">
                        <li class="one"><input type="checkbox" class="amount" name="box" value="<!-- {$info.goods_info.goods_id} -->"/></li>
                        <li class="ten02">
                            <a href="http://www.wm18.com/product/goods-<!-- {$info.goods_info.goods_id} -->.html" target="_blank"><img src="http://www.wm18.com/<!-- {$info.goods_info.goods_thumb} -->" alt="" style="margin-left:0px;width:60px;height:60px" /></a>
                        </li>
                        <li class="two">编号:<em><!-- {$info.goods_info.goods_id} --></em><br />
                            产品号:<br /><i class="sph"><!-- {$info.goods_info.goods_sn} --></i>
                        </li>
                        <li class="three">
                            <p><a herf="" target="_blank"><!-- {$info.goods_info.goods_name} --></a></p>
                            <em>￥<!-- {$info.goods_info.shop_price} --></em>
                        </li>
                        <li class="four">UV:3<br />PV:7</li>
                        <li class="five"><!-- {$info.goods_info.goods_number} --></li>
                        <li class="six">1</li>
                        <li class="seven"><!-- {$info.goods_info.add_time} --><br />17:23:00</li>
                        <li class="eight"><input type="text" placeholder="0" value="{$info.sort_order}" class="sort_order" goods_id="<!-- {$info.goods_info.goods_id} -->"/></li>
                        <li class="nine"><a href="goods.php?act=edit&goods_id=<!-- {$info.goods_info.goods_id} -->">编辑</a><p class="del">删除</p><p class="spread">推广商品</p></li>
                       	{if $info.is_show==1}
                        <li class="ten" style="display:none" ><em>隐藏</em></li>
                        <li class="ten1" goods_id="<!-- {$info.goods_info.goods_id} -->"><em>显示</em></li>
                        {else}
                        <li class="ten" goods_id="<!-- {$info.goods_info.goods_id} -->"><em>隐藏</em></li>
                        <li class="ten1" style="display:none"><em>显示</em></li>
                        {/if}
                        {if $info.goods_info.is_on_sale eq 1}
                        <li class="tenOne" style="display:block;"><img src="{$template_dir}images/yes.gif" /></li>
                        {else}
                        <li class="tenOne1" style="display:block;"><img src="{$template_dir}images/no.gif" /></li>
                        {/if}
                    </ul>
                    <span class="aySure">
                        <em>确定删除？</em><em class="sure" goods_id="<!-- {$info.goods_info.goods_id} -->">确定</em><em class="noSure">取消</em>
                    </span>
                   <span class="copy">
                    	<p class="clearfix"><em class="left">商品页链接</em><i class="right">X</i></p>
                        <input readonly="readonly" type="text" value="{$info.buy_link}" class="one link" />
                        <input type="button" value="复制" class="two copyBtn" />
                        <p>商品二维码</p>
                        <img src="{$BASEE_URL}QRcode/QRcode_{$info.goods_info.goods_id}.png"/>
                    </span>
                     
                    </span
                </div>

{/foreach}
              
                
            </div>
            <div class="module clearfix">
                <ul class="left">
                    <li>修改模块</li>
                    <li>改分组</li>
                    <li class="button_sale_on">下架</li>
                    <li>会员折扣</li>
                </ul>
                <p class="right">{$page_bar}</p>
            </div>
            </div> 
            
        </div>
	</div>
</div>
<script type="text/javascript"> 
		//复制
    $('.copyBtn').click(function(){
		var e = $(this).parent().find('.link');
		e.select();	
		document.execCommand("Copy");
		$('.copy').eq($(this).index('.copyBtn')).css('display','none');
		alert('成功复制');
	})
</script>

<script type="text/javascript">
	function check(){
        var checkbox=document.getElementById('click')
        checkbox.value==2?checkbox.value=1:checkbox.value=2;
        var amount=document.getElementsByName('box');
        for(var i=0;i<amount.length;i++){
            if(checkbox.value==1){
                amount[i].checked=false;				
            }else{
                amount[i].checked=true;
            }
        }
    }
//数量
	var inplen = document.getElementById('inlie').getElementsByTagName("input").length/2;
	$("#totle").html(inplen);
//操作中数量的变更

</script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('.del').click(function(event) {
			$('.aySure').eq($(this).index('.del')).css('display','block')
		});
		$('.noSure').click(function(event) {
			$('.aySure').eq($(this).index('.noSure')).css('display','none')
		});
		$('.sure').click(function(event) {
			$('.lieThing').eq($(this).index('.sure')).remove();
			var inplen = document.getElementById('inlie').getElementsByTagName("input").length/2;
			$('#totle').html(inplen);
			goods_id=$(this).attr("goods_id");
			data={'act':'delete','goods_id':goods_id}
			$.post("goods.php",data,function ()
			{
				total_page=$(".total_page").html();
				total_page=parseInt(total_page)-1;
				total_page=(total_page>0) ? total_page : 0;
				$(".total_page").html(total_page);
			});
		});
/*		$('.thing li.tenOne').click(function(event){
			$('.thing li.tenOne').eq($(this).index('.thing li.tenOne')).css('display','none');
			$('.thing li.tenOne1').eq($(this).index('.thing li.tenOne')).css('display','block');
			})
		$('.thing li.tenOne1').click(function(event){
			$('.thing li.tenOne1').eq($(this).index('.thing li.tenOne1')).css('display','none');
			$('.thing li.tenOne').eq($(this).index('.thing li.tenOne1')).css('display','block');
			})*/
		$('.thing li.ten1').click(function(event){
			$('.thing li.ten1').eq($(this).index('.thing li.ten1')).css('display','none');
			$('.thing li.ten').eq($(this).index('.thing li.ten1')).css('display','block');
			goods_id=$(this).attr("goods_id");
			$.post("goods.php",{act:"ajax_save_is_show",goods_id:goods_id}, function(data){
			});
			})
		$('.thing li.ten').click(function(event){
			$('.thing li.ten').eq($(this).index('.thing li.ten')).css('display','none');
			$('.thing li.ten1').eq($(this).index('.thing li.ten')).css('display','block');
			goods_id=$(this).attr("goods_id");
			$.post("goods.php",{act:"ajax_save_is_show",goods_id:goods_id}, function(data){
			})
			})
	});
	$('.spread').click(function(event) {
			$('.copy').eq($(this).index('.spread')).css('display','block')
		});
		$('.copy').click(function(){
			$(this).css('display','none');
			});

	$(".sort_order").focusin(function() {
		$(this).attr("v", $(this).val());
	}).focusout(function() {
		var orderby = $(this).val();
		var old_orderby = $(this).attr("v");
		if(orderby == old_orderby) {return;}
		goods_id=$(this).attr("goods_id");
		$.post("goods.php",{act:"ajax_save_sort_order",goods_id:goods_id, orderby:orderby}, function(data){
		});
	});
	$(".button_sale_on").click(function ()
	{
		var check = $(".amount:checked");
		if(check.length<1){
			alert('请选择要下架的商品');
		}
		else
		{
		var id = '';
		check.each(function(i){
			if($(this).val())
			{
				id=id+$(this).val()+";";
			}
		});
		$.post("goods.php",{act:"ajax_sale_on","id":id},function(res){
			if(res.error==1)
			alert(res.info);
			else
			{
				alert(res.info);
				location.reload();
			}
		},"json");
		}
	})

</script>

</body>
</html>