{include file="common/header.htm"}
<link type="text/css" rel="stylesheet" href="css/shop.css" />
<style type="text/css">
body{overflow:scroll;overflow-x:hidden;}
</style>
<div class="main">
    <div class="offerMain clearfix">
    	<div class="mainLeft left">
         <span><a href="information01.html">发布商品</a></span>
         <div class="naver">
            <em>商品管理</em>
            <ul class="leftNav">
                <li><a href="goods.php">仓库中的商品</a></li>
                <li><a href="goods.php?type=is_show">出售中的商品</a></li>
                <li><a href="goods.php?type=sell_out">已售罄的商品</a></li>
                <li><a href="goods.php?type=is_show_no">未审核的商品</a></li>
                <li class="cur"><a href="goods_cat.php">商品分组</a></li>
            </ul>
         </div>    
        </div>
      
        
        <div class="mainRight right">
            <div class="titleBody3">
                <div class="inForm">
                    <form>
                        <span>
                            <em class="red">*</em>分组名称:
                        </span><input type="text" placeholder="商品分组不能少于一个字或者多余50个字" class="mingchen" name="cat_name" value="{$cat_info.cat_name}"/><br /><br />
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <th valign="top"><span>商品标签简介:</span></th>
                                <th> <textarea name="cat_desc" class="area">{$cat_info.cat_desc}</textarea><input name="cat_id" type="hidden" value="{$cat_info.cat_id}" /></th>
                            </tr>
                        </table>
                        <div><input type="button" value="保存" class="queding button_save" /><input type="button" value="返回" class="quxiao" onclick="javascript:history.go(-1)" /></div>
                    </form>
                </div>
            </div>
        </div>
        
        
	</div>
</div>
<script type="text/javascript">
$(function ()
{
	$(".button_save").bind("click",function ()
	{
		cat_name=$("input[name='cat_name']").val();
		cat_desc=$("textarea[name='cat_desc']").val();
		cat_id=$("input[name='cat_id']").val();
		
		if(cat_name=="")
		{
			alert("请输入分组名称");
			return false;
		}
		data={cat_name:cat_name,cat_desc:cat_desc,cat_id:cat_id}
		$.post("goods_cat.php?act=ajax_edit",data,function (res)
		{
			if(res.error==1)
			{
				alert(res.info);
				return false;
			}
			else
			{
			alert(res.info);
			location.href='goods_cat.php';
			}
		},"json")
	})
})
</script>
</body>
</html>