{include file="common/header.htm"}
<link type="text/css" rel="stylesheet" href="css/offer.css" />
<style type="text/css">
body{overflow:scroll;overflow-x:hidden;}
</style>
<div class="main">
    <div class="offerMain clearfix">
    	<div class="mainLeft left">
         <span><a href="information01.html">发布商品</a></span>
         <div class="naver">
            <em>商品管理</em>
            <ul class="leftNav">
                <li><a href="goods.php">仓库中的商品</a></li>
                <li><a href="goods.php?type=is_show">出售中的商品</a></li>
                <li><a href="goods.php?type=sell_out">已售罄的商品</a></li>
                <li><a href="goods.php?type=is_show_no">未审核的商品</a></li>
                <li class="cur"><a href="goods_cat.php">商品分组</a></li>
            </ul>
         </div>    
        </div>
        <div class="mainRight right">  
            <div class="offer01Header clearfix">
                <ul class="left clearfix">
                    <li class="one"><a href="goods_cat.php?act=add">新建商品分组</a></li>
                    <li class="two"><a href="javascript:void(0)">商品分组介绍及使用教程</a></li>
                </ul>
                <ul class="right">
                <form id="form_search" action="goods_cat.php">
                    <li class="one"><input type="text" name="keyword" placeholder="请输入关键词" value="{$keyword}"/></li>
                    <li class="two"><input type="button" value="搜索" class="button_search"/></li>
                     </form>   
                </ul>
            </div>
            <div class="sur">
                <ul class="surName claerfix">
                    <li class="one">分组名称</li>
                    <li class="two">商品数</li>
                    <li class="three">创建时间↓</li>
                    <li class="four">操作</li>
                </ul>
            </div>
            <div class="inlie" id="inlie">
            	{foreach from=$info item=info}
<div class="thing clearfix" id="thing">
                    <ul class="surContent clearfix" id="input">
                        <li class="one"><input /><!-- {$info.cat_name} --><br /><em>店内所有商品，新发布的商品排在前面</em></li>
                        <li class="two">0</li>
                        <li class="three">&nbsp;<!-- {$info.time} --></li>
                        <li class="four"><a href="goods_cat.php?act=edit&cat_id=<!-- {$info.cat_id} -->">编辑</a>-<em class="del">删除</em>-<em class="lianjie">链接</em></li>
                    </ul>
                    <span class="aySure">
                        <em>确定删除？</em><em class="sure" cat_id="<!-- {$info.cat_id} -->">确定</em><em class="noSure">取消</em>
                    </span>
                    <span class="fuzhi01">
                    
                    	<input readonly="readonly" type="text" value="{$BASEE_URL}goods_cat.php?cat_id={$info.cat_id}" class="one link" />
                        <input type="button" value="复制" class="two copyBtn">
                    
                    </span>

                </div>
{/foreach}   
             

                
            </div>
            <p class="curs"></p>
        </div>
	</div>
</div>
<script type="text/javascript"> 
		//复制
    $('.copyBtn').click(function(){
		var e = $(this).parent().find('.link');
		e.select();	
		document.execCommand("Copy");
		$('.fuzhi01').eq($(this).index('.copyBtn')).css('display','none');
		alert('成功复制');
	})
</script> 

<script type="text/javascript">
    //var inplen = document.getElementById('inlie').getElementsByTagName("div").length;
    //document.getElementById('totle').innerHTML=inplen;
	
	var leng = $('.thing').length;
		//alert(leng)
		$('#totle').html(leng);
		$('.surContent .four .lianjie').click(function(){
			$('.fuzhi01').eq($(this).index('.surContent .four .lianjie')).css('display','block');
			})
			
	jQuery(document).ready(function($) {
     $('.del').click(function(event) {
         $('.aySure').eq($(this).index('.del')).css('display','block')
     }); 
     $('.noSure').click(function(event) {
         $('.aySure').eq($(this).index('.noSure')).css('display','none')
     });
     $('.sure').click(function(event) {
          $('#thing').eq($(this).index('.sure')).remove();
            var inplen = document.getElementById('inlie').getElementsByTagName("div").length;
            document.getElementById('totle').innerHTML=inplen;
			cat_id=$(this).attr("cat_id");
			data={'act':'delete','cat_id':cat_id}
			$.post("goods_cat.php",data,function ()
			{
			});
     });  
	  $('.fuzhi01').click(function(){
			$(this).css('display','none');
			}); 
    });
	$(".button_search").click(function ()
	{
		keyword=$("input[name='keyword']").val();
		if(keyword=="")
		alert("请输入关键词");
		else
		$("#form_search").submit();
	})
</script>
</body>
</html>