{include file="common/header.htm"}
<link type="text/css" rel="stylesheet" href="css/include.css" />
<div class="main">
	<div class="mainLeft left">
    	<span><a href="order.php?act=overview">订单概况</a></span>
         <div class="naver">
            <em>微商城</em>
            <ul class="leftNav">
                <li {if $nav_order eq ""}{/if}><a href="order.php">所有订单</a></li>
                <li {if $nav_order eq "wait_pay"}class="cur"{/if}><a href="order.php?type=wait_pay">待付款订单</a></li>
                <li {if $nav_order eq "wait_shipping"}class="cur"{/if}><a href="order.php?type=wait_shipping">待发货订单</a></li>
                <li {if $nav_order eq "aleady_shipping"}class="cur"{/if}><a href="order.php?type=aleady_shipping">已发货订单</a></li>
            </ul>
            <em>客服服务</em>
            <ul class="leftNav">
                <li><a href="">评价管理</a></li>
            </ul>
            <em>交易及物流</em>
            <ul class="leftNav">
                <li><a href="">物流工具</a></li>
                <li><a href="">心愿单</a></li>
                <li><a href="income.php">收入/提现</a></li>
            </ul>
         </div>
    </div>
    <div class="mainRight right">
        <div class="cludeHeader clearfix">
            <ul class="left clearfix">
<!-- {$menu}-->
            </ul>
            <i></i>
            <div class="right clearfix">
                <a href="" class="left">保证金</a>
                <span class="left">|</span>
                <a href="" class="left">收入提现常见问题</a>
            </div>
        </div>
        <div class="bail">
            <form action="">
                <span>缴纳时间：</span><input type="text" id="time" onclick="return Calendar('time');" class="text_time" /><em>至</em><input type="text" id="time01" onclick="return Calendar('time01');" class="text_time" /><br /><br /><span>保证金类型：</span><select name="bail" id="">
                                <option value="全部">全部</option>
                                <option value="消费保障保证金">消费保障保证金</option>
                                <option value="供货商入驻保证金">供货商入驻保证金</option>
                </select><span class="bajzt">保证金状态：</span><select name="bailtwo" id="">
                                <option value="全部">全部</option>
                                <option value="交保完成">交保完成</option>
                                <option value="申请退保">申请退保</option>
                                <option value="退保处理中">退保处理中</option>
                                <option value="已退保">已退保</option>
                </select><input type="button" class="cxBtn" value="查询" />
            </form>
        </div>
        <div class="nothing">暂无数据</div>
	</div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.cludeNews .center .last span').click(function(event) {
            $('.certif').css('display','block')
        });
        $('.certifOne i,.certifTwo span').click(function(event) {
            $('.certif').css('display','none')
        });
        $('.certif .certifTwo a').click(function(event) {
            $('.inCertifTwo').css('display','block')
            $('.certif').css('display','none');
        });
        $('.inCertifTwo .certifTwo span').click(function(event) {
            $('.inCertifTwo').css('display','none')
            $('.certif').css('display','block');
        });
        $('.certifOne i').click(function(event) {
            $('.inCertifTwo').css('display','none')
        });
        //如果已经认证了
        // if(){
        //     $('.cludeNews .center .last a.tx').css('display','inline-block')
        //     $('.cludeNews .center .last span').css('display','none')
        // }else{
        //     $('.cludeNews .center .last a.tx').css('display','none')
        //     $('.cludeNews .center .last span').css('display','inline-block')
        // }
    });
</script>
</body>
</html>


