{include file="common/header.htm"}
<link type="text/css" rel="stylesheet" href="css/sheet03.css?s" />
<style type="text/css">
 .flow .text03 li.one {
    margin-right: 201px;
    margin-left: 12px;
}
.flow .text03 li.two {
    margin-right: 165px;
}   
</style>
<div class="main">
    <div class="inMain clearfix">
        <div class="mainLeft left">
    	<span><a href="order.php?act=overview">订单概况</a></span>
         <div class="naver">
            <em>微商城</em>
            <ul class="leftNav">
                <li {if $nav_order eq ""}{/if}><a href="order.php">所有订单</a></li>
                <li {if $nav_order eq "wait_pay"}class="cur"{/if}><a href="order.php?type=wait_pay">待付款订单</a></li>
                <li {if $nav_order eq "wait_shipping"}class="cur"{/if}><a href="order.php?type=wait_shipping">待发货订单</a></li>
                <li {if $nav_order eq "aleady_shipping"}class="cur"{/if}><a href="order.php?type=aleady_shipping">已发货订单</a></li>
            </ul>
            <em>客服服务</em>
            <ul class="leftNav">
                <li><a href="">评价管理</a></li>
            </ul>
            <em>交易及物流</em>
            <ul class="leftNav">
                <li><a href="">物流工具</a></li>
                <li><a href="">心愿单</a></li>
                <li><a href="income.php">收入/提现</a></li>
            </ul>
         </div>
    </div>
        <div class="mainRight right">
           <!--  <div class="flow">
                <ul class="text01">
                    <li class="one">买家下单</li>
                    <li class="two">付款</li>
                    <li class="three">商家发货</li>
                  
                </ul>
                <ul class="text02">
                    <li class="one">√</li>
                    {if $order.pay_time neq ''}
                   <li class="two"></li>
                    <li class="three">√</li>
                    {else}
                     
                    <li class="six"></li>
                    <li class="seven">√</li>
                    {/if}
                  
                    {if $order_shipping.shipping_time neq ''}
                    <li class="two"></li>
                    <li class="three">√</li>
                
                    {else}
                   <li class="six"></li>
                    <li class="seven">√</li>
                    {/if}
                   
             
                </ul>
                <ul class="text03">
                    <li class="one">{$order.formated_add_time}</li>
                    <li class="two">{$order.pay_time}</li>
                    <li class="three">{$order_shipping.shipping_time}</li>
                  
                </ul>
            </div> -->
             <div class="flow">
                <ul class="text01">
                    <li class="one">买家下单</li>
                    {if $order.pay_time eq ''}
                    <li class="three">结算货款</li>
                    {else}
                    <li class="three" style="color:#83ccff">结算货款</li>
                    {/if}
                    {if $order_shipping.shipping_time eq ''}
                    <li class="four">商家发货</li>
                    {else}
                    <li class="four" style="color:#83ccff">商家发货</li>
                    {/if}
                    
                </ul>
                <ul class="text02">
                    <li class="one">√</li>
                    <li class="{if $order.pay_time eq ''}six{/if} two"></li>
                    {if $order.pay_time eq ''}
                    <li class="three">×</li>
                    {else}
                    <li class="three" style="background:#83ccff">√</li>
                    {/if}
                    <li class="{if $order_shipping.shipping_time eq ''}six{/if} four"></li>
                    {if $order_shipping.shipping_time eq ''}
                    <li class="seven">×</li>
                    {else}
                    <li class="seven" style="background:#83ccff">√</li>
                    {/if}
                </ul>
                <ul class="text03">
                    <li class="one">{$order.formated_add_time}</li>
                    <li class="two">{$order.pay_time}</li>
                    <li class="three">{$order_shipping.shipping_time}</li>
                </ul>
            </div>
            <div class="list">
                <div class="listLeft left">
                    <div class="listHeader">
                        <span class="left">订单信息</span><em class="right">担保交易</em>
                    </div>
                    <div class="sellNews">
                        <span>订单编号：</span><em>{$order.order_sn}</em><!--<a href="#">更多</a>--><br />
                        <span>付款方式：</span><em>{$order.pay_name}</em><br />
                        <span>买家：</span><em>{$order.consignee|escape}</em><br />
                    </div>
                    <div class="liveWay">
                        <span>配送方式：</span><em>{$order.shipping_name}</em><br />
                        <span>收货信息：</span><em>[{$order.region}] {$order.address|escape}，{$order.tel} {if $order.tel neq $order.mobile}{$order.mobile}{/if}</em><br /><!--<a href="#">[复制]</a><br />-->
                        
                        <span>买家留言：</span><em></em><br />
                    </div>
                    <div class="ewm">
                        <img src="" alt="" class="left" />
                        <p>随时随地经营店铺</p>
                        <p>订单发货、库存管理通通搞定</p>
                    </div>
                </div>
                <div class="listRight right">
                    <div class="listState">
                        <div class="stateHeader">
                            <span>!</span>
                            <p class="one">订单状态：商家已发货，等待交易完成</p>
                            <p class="two">买家如在<em>7天内</em>没有申请退款，交易将完成;</p>
                        </div>
                        <div class="alter clearfix">
                            <!--<input type="button" value="修改物流" class="one" /><input type="button" value="延长收货" class="two" />-->
                            <em class="left">备注</em>
                            <ul class="left clearfix">
                                <li title="一星"></li>
                                <li title="二星"></li>
                                <li title="三星"></li>
                                <li title="四星"></li>
                                <li title="五星"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="vendor">
                        卖家备注：<p>{$remark}</p>
                    </div>
                    <div class="remind">
                        <em>友情提醒：</em>
                        <p>·交易成功后，将把货款结算至您的店铺账号余额，您可申请提现；</p>
                        <p>·请及时关注你发出的包裹状态，确保能配送至买家手中；</p>
                        <p>·如果买家表示未收到货或者货物有问题，请及时联系买家积极处理，友好协商；</p>
                    </div>
                </div>
            </div>
            
            <div class="entry">
            	<div class="">
             
                    <table cellpadding="0" cellspacing="0" border="0" class="carGo">
                    	<tbody>
                        	<tr align="center">
                            	<td class="one">包裹<em></em></td>
                                <td class="two">{$order_shipping.shipping_name}</td>
                                <td class="three">运单号<i>{$order_shipping.shipping_sn}</i></td>
                                <td class="four">{$order_shipping.shipping_time}{if $order_shipping.shipping_time neq ""}已发出{/if}</p></td>
                                <td class="five"><a href="#">更多</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ul class="entryNav">
                    <li class="one">商品名称</li>
                    <li class="two">单价(元)</li>
                    <li class="three">数量</li>
                    <li class="four">优惠(元)</li>
                    <li class="five">小计(元)</li>
                    <li class="six">状态</li>
                    <li class="seven">运费</li>
                </ul>
                <div class="inSend">	
                </div>
                <div class="cargo">
                	<table cellpadding="0" cellspacing="0" border="0">
                    	<tbody>
                            <tr>
                                <td class="one">
                                {foreach from=$goods_list item=goods_list2}
                                    <div><a href="http://www.wm18.com/goods.php?id={$goods_list2.goods_id}" target="_blank"><img src="{$goods_list2.goods_pic}" alt="{$goods_list2.goods_name}" /></a><p><a href="http://www.wm18.com/goods.php?id={$goods_list2.goods_id}" target="_blank">{$goods_list2.goods_name}</a></p></div>
                                    {/foreach}
                               </td>
                                <td class="two">
                                {foreach from=$goods_list item=goods_list2}
                                   <div>{$goods_list2.goods_price}<br />({$goods_list2.goods_number}件)</div>
                                    {/foreach}
                                   </td>
                                <td class="three"></td>
                                <td class="four"></td>
                                <td class="five">{$order.total_fee}</td>
                                <td class="six">{$lang.os[$order.order_status]}<br/>{$lang.ps[$order.pay_status]}<br/>
                                {$lang.ss[$order.shipping_status]}<br/></td>
                                <td class="seven">{if $order.formated_shipping_fee eq '￥0'}免运费{else}{$order.formated_shipping_fee}{/if}</td>
                                
                            
                            </tr>
                        </tbody>
                    </table>
                  
                </div>
                <div class="amount clearfix">
                    <span class="left">{if $bonus_name neq ""}优惠券：<i>{$bonus_name}</i>{/if}</span>
                    <div class="right">
                    	<table cellpadding="0" cellspacing="0" border="0">
                        	<tbody>
                            	<tr>
                                	<td>
                                    	<div align="right" style="font-weight:normal;">{$lang.label_goods_amount}<strong>{$order.formated_goods_amount}</strong> - {$lang.label_discount}<strong>{$order.formated_discount}</strong> + {$lang.label_tax}<strong>{$order.formated_tax}</strong> + {$lang.label_shipping_fee}<strong>{$order.formated_shipping_fee}</strong> + {$lang.label_insure_fee}<strong>{$order.formated_insure_fee}</strong> + {$lang.label_pay_fee}<strong>{$order.formated_pay_fee}</strong> + {$lang.label_pack_fee}<strong>{$order.formated_pack_fee}</strong> + {$lang.label_card_fee}<strong>{$order.formated_card_fee}</strong></div></td>
  <tr>
    <td><div align="right"> = {$lang.label_order_amount}<strong>{$order.formated_total_fee}</strong></div></td>
  </tr>
  <tr>
    <td><div align="right"> - {$lang.label_money_paid}<strong>{$order.formated_money_paid}</strong> - {$lang.label_surplus} <strong>{$order.formated_surplus}</strong> - {$lang.label_integral} <strong>{$order.formated_integral}</strong> - {$lang.label_bonus} <strong>{$order.formated_bonus}</strong> {if $order.mbonus_fee > 0}
        - {$order.mbonus_name} <strong>{$order.mbonus_fee}</strong> {/if} </div></td>
  <tr>
    <td><div align="right"> = {if $order.order_amount >= 0}{$lang.label_money_dues}<strong>{$order.formated_order_amount}</strong> {else}{$lang.label_money_refund}<strong>{$order.formated_money_refund}</strong>
        <input name="refund" type="button" value="{$lang.refund}" onClick="location.href='order.php?act=process&func=load_refund&anonymous={if $order.user_id <= 0}1{else}0{/if}&order_id={$order.order_id}&refund_amount={$order.money_refund}'" />
        {/if}{if $order.extension_code eq "group_buy"}<br />
        {$lang.notice_gb_order_amount}{/if}</div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    <!--<p>商品总金额:￥69-折扣:￥0+发票税额:￥0+配送费用:￥0+支付费用:￥0</p><p>=订单总金额:<strong>￥69</strong></p><p>-已付款金额:￥3-使用余额:￥0-使用积分:0-使用红包:￥66</p><p>=应付款金额:<strong>￥0</strong></p>-->
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>
 <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
	$(function() {
		$('.alter em').click(function(event){
				$('.alter ul').css('display','block');
			})
		$('.alter li').click(function(event) {
			var num=$(this).index();
			$('.alter li:lt('+(num+1)+')').addClass('sel')
			$('.alter li:gt('+num+')').removeClass('sel');
		});
		$('.alter li').hover(function() {
			var num=$(this).index();
			var defen=num+1;
			$('.alter li:lt('+(num+1)+')').addClass('sel')
			$('.alter li:gt('+num+')').removeClass('sel');
		}, function() {
			var num=$(this).index();
			var defen=num+1;
			if(defen==0){
				$('.alter li').removeClass('sel')
			}else{
				$('.alter li:lt('+(num+1)+')').addClass('sel');
			}
		});
	});
	</script>
</body>
</html>