{include file="common/header.htm"}
<link type="text/css" rel="stylesheet" href="css/send.css" />
<div class="main">
    <div class="inMain clearfix">
        <div class="mainLeft left">
        	<span><a href="#">发布商品</a></span>
         <div class="naver">
            <em>商品管理</em>
            <ul class="leftNav">
                <li><a href="">出售中的商品</a></li>
                <li><a href="">已售罄的商品</a></li>
                <li><a href="">仓库中的商品</a></li>
                <li><a href="">商品分组</a></li>
            </ul>
         </div>
        </div>
        <div class="mainRight right">
            <div class="flow">
                <ul class="text01">
                    <li class="one">买家下单</li>
                    <li class="two">付费至中转</li>
                    <li class="three">商家发货</li>
                    <li class="four">结算货款</li>
                </ul>
                <ul class="text02">
                    <li class="one">√</li>
                    <li class="two"></li>
                    <li class="three">√</li>
                    <li class="four"></li>
                    <li class="five">√</li>
                    <li class="six"></li>
                    <li class="seven">4</li>
                </ul>
                <ul class="text03">
                    <li class="one">2016-03-02 14:05:55</li>
                    <li class="two">2016-03-02 14:05:55</li>
                    <li class="three">2016-03-02 14:05:55</li>
                    <li class="four">2016-03-02 14:05:55</li>
                </ul>
            </div>
            <div class="list">
                <div class="listLeft left">
                    <div class="listHeader">
                        <span class="left">订单信息</span><em class="right">担保交易</em>
                    </div>
                    <div class="sellNews">
                        <span>订单编号：</span><em>E20160225170029049757492</em><a href="#">更多</a><br />
                        <span>付款方式：</span><em>微信安全支付-代销</em><br />
                        <span>买家：</span><em>*****</em><br />
                    </div>
                    <div class="liveWay">
                        <span>配送方式：</span><em>快递配送</em><br />
                        <span>收货信息：</span><em>上海市 上海市 徐家汇 宜山路 ***号*号楼**，***，11548655874</em><br /><!--<a href="#">[复制]</a><br />-->
                        <span>买家留言：</span><em>*****</em><br />
                    </div>
                    <div class="ewm">
                        <img src="" alt="" class="left" />
                        <p>随时随地经营店铺</p>
                        <p>订单发货、库存管理通通搞定</p>
                    </div>
                </div>
                <div class="listRight right">
                    <div class="listState">
                        <div class="stateHeader">
                            <span>!</span>
                            <p class="one">订单状态：商家已发货，等待交易完成</p>
                            <p class="two">买家如在<em>7天内</em>没有申请退款，交易将完成;</p>
                        </div>
                        <div class="alter clearfix">
                            <!--<input type="button" value="修改物流" class="one" /><input type="button" value="延长收货" class="two" />-->
                            <em class="left">备注</em>
                            <ul class="left clearfix">
                                <li title="一星"></li>
                                <li title="二星"></li>
                                <li title="三星"></li>
                                <li title="四星"></li>
                                <li title="五星"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="vendor">
                        卖家备注：<p>YIYYOYOYOYOY</p>
                    </div>
                    <div class="remind">
                        <em>友情提醒：</em>
                        <p>·交易成功后，将把货款结算至您的店铺账号余额，您可申请提现；</p>
                        <p>·请及时关注你发出的包裹状态，确保能配送至买家手中；</p>
                        <p>·如果买家表示未收到货或者货物有问题，请及时联系买家积极处理，友好协商；</p>
                    </div>
                </div>
            </div>
            <div class="entry">
                <ul class="entryNav">
                    <li class="one">商品名称</li>
                    <li class="two">单价(元)</li>
                    <li class="three">数量</li>
                    <li class="four">优惠(元)</li>
                    <li class="five">小计(元)</li>
                    <li class="six">状态</li>
                    <li class="seven">运费</li>
                </ul>
                <div class="cargo">
                    <div class="left">
                        <ul class="carGo">
                            <li class="one">包裹-<em>1</em></li>
                            <li class="two">圆通快递</li>
                            <li class="three">运单号<i>1234567891</i></li>
                            <li class="four">2016-03-02 13:56:00[在途]转运中心已发出</li>
                            <li class="five">更多</li>
                        </ul>
                        <ul class="fare">
                            <li class="one"><img src="" alt="" /></li>
                            <li class="two">实物商品(购买时需填写收货地址，测试商品，不发货，不退款)</li>
                            <li class="three">0.01</li>
                            <li class="four">1</li>
                            <li class="five">-</li>
                            <li class="six">0.01</li>
                            <li class="seven">已发货</li>
                        </ul>
                    </div>
                    <div class="right">
                        免运费
                    </div>
                </div>
                <div class="amount clearfix">
                    <span class="left">使用优惠券：<i>秘密花园鲜活水礼券</i></span>
                    <div class="right"><p>商品总金额:￥69-折扣:￥0+发票税额:￥0+配送费用:￥0+支付费用:￥0</p><p>=订单总金额:<strong>￥69</strong></p><p>-已付款金额:￥3-使用余额:￥0-使用积分:0-使用红包:￥66</p><p>=应付款金额:<strong>￥0</strong></p></div>
                </div>
            </div>
        </div>
    </div>
</div>
 <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
	$(function() {
		$('.alter em').click(function(event){
				$('.alter ul').css('display','block');
			})
		$('.alter li').click(function(event) {
			var num=$(this).index();
			$('.alter li:lt('+(num+1)+')').addClass('sel')
			$('.alter li:gt('+num+')').removeClass('sel');
		});
		$('.alter li').hover(function() {
			var num=$(this).index();
			var defen=num+1;
			$('.alter li:lt('+(num+1)+')').addClass('sel')
			$('.alter li:gt('+num+')').removeClass('sel');
		}, function() {
			var num=$(this).index();
			var defen=num+1;
			if(defen==0){
				$('.alter li').removeClass('sel')
			}else{
				$('.alter li:lt('+(num+1)+')').addClass('sel');
			}
		});
	});
	</script>
</body>
</html>