{include file="common/header.htm"}
<link type="text/css" rel="stylesheet" href="css/sheet03.css" />
<script type="text/javascript" src="js/jedate.js"/></script>
<div class="main">
	<div class="mainLeft left">
    	<span><a href="order.php?act=overview">订单概况</a></span>
         <div class="naver">
            <em>微商城</em>
            <ul class="leftNav">
                <li class="cur"><a href="order.php">所有订单</a></li>
                <li><a href="">维权订单</a></li>
                <li><a href="">代付订单</a></li>
                <li><a href="">送礼订单</a></li>
                <li><a href="">加星订单</a></li>
            </ul>
            <em>客服服务</em>
            <ul class="leftNav">
                <li><a href="">评价管理</a></li>
            </ul>
            <em>交易及物流</em>
            <ul class="leftNav">
                <li><a href="">物流工具</a></li>
                <li><a href="">心愿单</a></li>
                <li><a href="income.php">收入/提现</a></li>
            </ul>
         </div>
    </div>
    <div class="mainRight right">
    	<div class="filter">
    		<form action="order.php" method="get" class="this_form">
    			<div><span>订单号：</span><input type="text" class="input01" name="order_sn" value="{$order_sn}" /><span>下单时间：</span><input type="text" class="input02"  id="time01" name="time_start" style="width:200px" value="{$time_start}"/><i class="zhi">至</i><input type="text" class="input02"  id="time02" style="width:200px" name="time_end" value="{$time_end}"/><!--<a href="">最近7天</a><a href="">最近30天</a>--></div>
    			<br />
    			<div><span>收货人手机：</span><input type="text" class="input01" name="mobile" value="{$mobile}"/><span class="span01">订单状态：</span>
                    <select name="pay_status" id="" class="input02 input03 input04">
                       <option>全部</option>
                    <option value="1" {if $pay_status eq "1"}selected="selected"{/if}>未付款</option>
                    <option value="2" {if $pay_status==2}selected="selected"{/if}>已付款</option>
                    </select>
                <!--<input type="text" value="全部" class="input02 input03" />--><span class="span01">付款方式：</span>
                    <select name="pay_id" id="" class="input02 input03">
                        <option value="">全部</option>
                      {foreach from=$payment_list item=info}
                        <option value="{$info.pay_id}" {if $pay_id==$info.pay_id}selected="selected"{/if}>{$info.pay_desc}</option>
                        {/foreach} 
                     
                    </select>
                <!--<input type="text" value="全部" class="input02 input03" />--></div>
    			<br />
    			
    			<div><span>收货地址：</span><input type="text" class="input01" name="address" value="{$address}"/><span>微信昵称：</span><input type="text" class="input02" /><span class="wqzt span01">物流方式：</span>
                <select id="" class="input02 input03" name="shipping_id">
                    <option value="">全部</option>
                    {foreach from=$shipping_list item=info}
                        <option value="{$info.shipping_id}" {if $shipping_id==$info.shipping_id}selected="selected"{/if}>{$info.shipping_name}</option>
                        {/foreach} 
                </select>
                <!--<input type="text" class="input02 input03" value="全部" />--></div>
    			<br />
                <input name="search_type" type="hidden" value="search_order" />
    			<input type="button" id="btn" value="筛  选" class="button_search"/>
    		</form>
    	</div>
    	<div class="cancel">
    		<p>请及时处理您的退款订单。若您超时未处理买家的退货退款申请，系统将默认同意退款申请并自动给买家发送默认退货地址。</p>
    		<a href="#">查看详情</a>
    		<a href="#">管理退货地址</a>
    	</div>
    	<div class="kinds">
    		<div class="kindsHeader">
                <ul class="left">
    				<li class="{if $nav_order eq ""}current{/if} one"><a href="order.php">全部</a></li>
    				<li class="{if $nav_order eq "wait_pay"}current{/if}"><a href="order.php?type=wait_pay">待付款</a></li>
    				<li class="{if $nav_order eq "wait_shipping"}current{/if}"><a href="order.php?type=wait_shipping">待发货</a></li>
    				<li><a href="sheet05.html">已发货</a></li>
    				<li><a href="sheet06.html">已完成</a></li>
    				<li><a href="sheet07.html">已关闭</a></li>
    				<li><a href="sheet08.html">退款中</a></li>
    			</ul>
    			<a href="#" class="right"><span>?</span>订单类型简介及管理方法</a>
    		</div>
    		<div class="group">
    			<div class="groupOne groupDie">
    				<div class="groupHeader">
    					<span class="one">商品</span><span class="two">单价/数量</span><span class="three">售后</span><span class="four">买家</span><span class="five">下单时间↓</span><span class="six">订单状态</span><span class="seven">实付金额(元)</span>
    				</div>

{foreach from=$info item=info}
<div class="ware01">
    					<ul>
    						<li class="left">订单号：{$info.order_info.order_sn} <span>微信安全支付-代销</span></li>
    						<li class="right"><a href="order.php?act=info&order_id={$info.order_info.order_id}">查看详情</a>-<span class="sarm">备注</span>-<a href="">加星</a></li>
    					</ul>
    					<p class="text03"><span>外部订单号：<em>E22652265255525225225</em></span><span>支付流水号：<em>E22652265255525225225</em></span></p>
    					<div class="details">
    						<ul>
    							<li class="one"><img src="http://www.wm18.com/<!-- {$info.goods_info.goods_thumb} -->" alt="" /><p><!-- {$info.goods_info.goods_name} --></p></li>
    							<li class="two">99.00<br />(1件)</li>
                                <li class="three"></li>
    							<li class="four"><!-- {$info.order_info.consignee} --><br />{if $info.order_info.mobile neq ''} {$info.order_info.mobile}{else} {$info.order_info.tel} {/if}</li>
    							<li class="five">2016-05-14<br />15:07:17</li>
    							<li class="six">{$lang.os[$info.order_info.order_status]}<br/>{$lang.ps[$info.order_info.pay_status]}<br/>
                                {$lang.ss[$info.order_info.shipping_status]}<br/></li>
    							<li class="seven">99:00</li>
    						</ul>
    					</div>
    					<p class="text01">卖价备注：哟哟哟</p>
    					<p class="text02">买价备注：哟哟哟</p>
    				</div>
{/foreach} 

    			</div>
                
    		</div>
    	</div>
	</div>
    <p class="right">{$page_bar}</p>
</div>
<div class="remark">
	<div class="inRemark">
    	<ul class="clearfix">
        	<li class="one">卖家备注</li>
            <li class="guanbi">×</li>
        </ul>
        <textarea placeholder="最多可输入256个字符" maxlength="256"></textarea>
        <input type="submit" value="提交" />
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('.sarm').click(function(event) {
            $('.remark').stop().fadeIn(500);
        });
        $('.guanbi').click(function(event) {
            $('.remark').stop().fadeOut(500);
        });
		//表单查询
		$(".button_search").click(function ()
		{
			data=$(".this_form").serialize();
			$.post("order.php?act=ajax_check_form",data,function (res)
			{
				if(res.error==0)
				$(".this_form").submit();
				else
				{
					column=res.column;
					alert(res.info);
					if(column)
					$("input[name="+column+"]").focus();
				}
			},"json")
		})
    });
</script>
<script type="text/javascript">

    jeDate({
		dateCell:"#time01",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:false,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){}
	})
	 jeDate({
		dateCell:"#time02",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:false,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){}
	})

    //alert("YYYY/MM".match(/\w+|d+/g).join("-"))
</script>

</body>
</html>
