{include file="common/header.htm"}
<link type="text/css" rel="stylesheet" href="css/shop.css" />
<style type="text/css">
body{overflow:scroll;overflow-x:hidden;}
.mainRight .bianji{border:none;}
</style>
<div class="main">
	<div class="mainLeft left">
    	<span><a href="">整体概况</a></span>
         <div class="naver">
            <em>员工管理</em>
            <ul class="leftNav">
                <li><a href="staff.php">所有员工</a></li>
                <li><a href="staff_invite.php">员工招募</a></li>
                <li><a href="staff_tag.php">标签管理</a></li>
                <li><a href="staff_department.php">部门管理</a></li>
                <li class="cur"><a href="staff_rank.php">等级管理</a></li>
                <li><a href="staff_count.php">业绩统计</a></li>
            </ul>
         </div>
    </div>
    <div class="mainRight right">
        <div class="titleBody01">
            <div class="titleBody4">
            	<table cellpadding="0" cellspacing="0" border="0" width="100%" class="titleNav">
                	<thead>
                        <tr>
                            <th class="titleOne">分销商等级</th>
                            <th>等级折扣</th>
                            <th>升级规则</th>
                            <th>成员</th>
                            <th>备注</th>
                            <th>操作</th>					
                        </tr>
                    </thead>
                    <tbody>
{foreach from=$info item=info}
                    	<tr class="titleLine4">
                        	<td class="rank">{$info.name}</td>
                            <td class="zhekou">{$info.discount}</td>
                            <td class="guize">{$info.rule}</td>
                            <td class="renshu">{$info.member_count}</td>
                            <td class="beizhu">{$info.note}</td>
                            <td class="bianj" this_id="{$info.id}">编辑</td>
                        </tr>
 {/foreach} 
  
                    </tbody>
                </table>
                <div class="rankFooter">
                	<h4>使用帮助</h4>
                    <p>1. 默认所有员工均为普通员工，不享受任何折扣</p>
                    <p>2. 可针对每个等级，设置不同的等级折扣（等级折扣是指在商品原有供货成本价基础上，享受的折扣优惠）</p>
                    <p>3. 可在<a href="staff.php"> 所有员工 </a> 页面，对不同员工设置不同等级，员工即可享受对应等级的成本价折扣</p>
                </div>
            </div>
        </div>
	</div>
</div>

<div class="rankTkuang">
	<div class="inRank">
    	<div class="rankHeader clearfix">
        	<h2 class="left">设置员工等级</h2>
            <i class="right">×</i>
        </div>
        <div class="rankBody">
        	<form action="">
            	<div><span>等级名称：</span><em class="rank01"></em></div>
                <div><span>等级折扣：</span><input type="text" class="zk" />折
                <p>折扣只能设置0-10之间的数字，含1位小数</p></div>
                <div><span>升级条件：</span><em>累计采购金额达到<input type="text" class="cgje" />元</em></div>
                <div>
                	<table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <th valign="top"><span>备注：</span></th>
                            <th><textarea data-reactid=".0.2.1.0.3.1.0" class="textarea01" maxlength="24"></textarea></th>
                        </tr>
                    </table>
                    <p>最多24字</p>
                </div>
            </form>
            <div class="anniu"><input type="button" value="确定" class="queding" /><input type="button" class="quxiao" value="取消" /></div>
        </div>
    </div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('.bianj').click(function(){
			var rank = $('.rank').eq($(this).index('.bianj')).html();
			var zhekou = $('.zhekou').eq($(this).index('.bianj')).html();
			var beizhu = $('.beizhu').eq($(this).index('.bianj')).html();
			var guize = $('.guize').eq($(this).index('.bianj')).html();
			guize=guize.replace(/累计采购金额达到/,"");
			guize=guize.replace(/元/,"");
			$('.textarea01').val(beizhu)
			$('.rank01').html(rank)
			$('.zk').val(zhekou);
			$('.cgje').val(guize);
			$('.rankTkuang').show();
			$(".queding").attr("this_id",$(this).attr("this_id"));
			})
		$('.rankBody .anniu input.quxiao,.rankHeader i').click(function(){
			$('.rankTkuang').hide();
			})
		$('.rankBody .anniu input.queding').click(function(){
			$('.rankTkuang').hide();
			id=$(this).attr("this_id");
			discount=$(".zk").val();
			rule=$(".cgje").val();
			note=$(".textarea01").val();
			$.post("staff_rank.php?act=ajax_edit",{"id":id,"discount":discount,"rule":rule,"note":note},function (res)
				{
					location.href='staff_rank.php';
				},'json');
			})
	});
</script>
</body>
</html>

