{include file="common/header.htm"}
<link type="text/css" rel="stylesheet" href="css/shop.css" />
<style type="text/css">
body{overflow:scroll;overflow-x:hidden;}
.shopBody01{clear:both}
</style>
<div class="main">
	<div class="mainLeft left">
    	<span><a href="">整体概况</a></span>
         <div class="naver">
            <em>员工管理</em>
            <ul class="leftNav">
                <li class="cur"><a href="staff.php">所有员工</a></li>
                <li><a href="staff_invite.php">员工招募</a></li>
                <li><a href="staff_tag.php">标签管理</a></li>
                <li><a href="staff_department.php">部门管理</a></li>
                <li><a href="staff_rank.php">等级管理</a></li>
                <li><a href="staff_count.php">业绩统计</a></li>
            </ul>
            <!--<em></em>
            <ul class="leftNav">
                <li><a href=""></a></li>
            </ul>
            <em></em>
            <ul class="leftNav">
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li class="cur"><a href=""></a></li>
            </ul>-->
         </div>
    </div>
    <div class="mainRight right">
    	<div class="shopHeader01">
        	<form action="" class="clearfix">
                <span>等级：</span><select name="rank" id="rank" class="wares01">
                    <option value="">全部</option>
                    {foreach from=$rank item=item}
                      {if $search_rank==$item.id}
                    <option value="{$item.id}" selected="selected">{$item.name}</option>
                    {else}
                    <option value="{$item.id}">{$item.name}</option>
                    {/if}
                    {/foreach}
                </select>
                <select name="type" id="" class="wares02">
                    <option value="1" {if $type==1}selected="selected"{/if}>搜员工名称</option>
                    <option value="2" {if $type==2}selected="selected"{/if}>搜联系方式</option>
                    <option value="3" {if $type==3}selected="selected"{/if}>搜店铺名称</option>
                    <option value="4" {if $type==4}selected="selected"{/if}>搜邀请码名称</option>
                    <option value="5" {if $type==5}selected="selected"{/if}>搜邀请人</option>
                </select><input type="text" placeholder="请输入关键词" name="keyword" value="{$keyword}"/><br /><br />
                <span>部门：</span><select name="department" class="department">
              		 <option value="">全部</option>
                    {foreach from=$department item=item}
                     {if $search_department==$item.id}
                    <option value="{$item.id}" selected="selected">{$item.name}</option>
                    {else}
                    <option value="{$item.id}">{$item.name}</option>
                    {/if}
                    {/foreach}
                </select><br /><br />
                <span>标签：</span><em {if $search_tag eq ''}class="curt"{/if}>不限</em>
                 {foreach from=$tag item=item}
                    <em attr_id="{$item.id}" {if $search_tag eq $item.id}class="curt"{/if}>{$item.name}</em>
                    {/foreach}
               <br /><br />
                <b></b><br />
                <input type="hidden" name="tag" value="{$search_tag}"/><button>搜索</button>
            </form>
        </div>
        <p>{$page_bar}</p>
        <div class="shopBody01">
        	<div class="inShopBody01">
            	<ul class="clearfix">
                	<li class="one"><input type="checkbox" id="click" onclick="check()" />员工信息</li>
                    <li>累计销量</li>
                    <li>累计销售额</li>
                    <li>邀请码名称</li>
                    <li>邀请人</li>
                    <li>等级</li>
                    <li>标签</li>
                    <li class="eight">操作</li>
                </ul>
            </div>
            <div class="shopNews" id="inlie">
            	{foreach from=$info item=info}
<div class="inShopNews inShopNews_{$info.id}">
                	<ul class="clearfix">
                    	<li class="one"><input type="checkbox" name="box" /></li>
                        <li class="two">
                        	<p>姓名：<em>{$info.name}</em>&nbsp;&nbsp;<i></i></p>
                            <p>店铺：<a href="">{$info.shop_name}</a></p>
                            <p>手机：{$info.phone}</p> 	
                        </li>
                        <li><p>{$info.sale_count}</p></li>
                        <li><p>{$info.sale_amount}</p></li>
                        <li><p>{$info.invatation}</p></li>
                        <li><p class="yaoqingren" style="width:110px; display:inline-table;">{$info.invatation_person}</p></li>
                        <li><p class="dengji">{if $info.rank_name}{$info.rank_name}{else}无{/if}</p></li>
                        <li><p class="biaoqian">{if $info.tag_name}{$info.tag_name}{else}无{/if}</p></li>
                        <li class="nine">
                        	<p class="jbq">设置标签</p>
                            <p class="szdj">设置等级</p>
                            <p class="szbm">设置部门</p>
                            <p class="szyqr">设置邀请人</p>
                            <b class="qt" this_id="{$info.id}">清退</b>
						</li>
                    </ul>
                    <span class="span11">设置姓名：<input type="text" class="name" value="{$info.name}"  old_value="{$info.name}" this_id="{$info.id}" placeholder="" autofocus="autofocus" /><input type="button" class="queding anniu" value="确定" /><input type="button" class="quxiao anniu" value="取消" /></span>
                    <span class="span012 tankuang14">
                        <form action="" class="clearfix">
                            <select name="wares" id="" class="left">
                                <option value="">请选择标签</option>
                                {foreach from=$tag item=item}
                                {if $info.tag==$item.id}
                                <option value="{$item.id}" selected="selected">{$item.name}</option>
                                {else}
                                <option value="{$item.id}">{$item.name}</option>
                                {/if}
                                {/foreach}
                            </select>
                            <input type="button" value="确定" class="queding quding012" this_id="{$info.id}"/><input type="button" class="quxiao quxiao012" value="取消" />
                        </form></span>
                    <span class="span012 tankuang12">
                        <form action="" class="clearfix">
                            <select name="rank" id="rank" class="left">
                            <option value="">请选择等级</option>
                                 {foreach from=$rank item=item}
                     {if $info.rank==$item.id}
                    <option value="{$item.id}" selected="selected">{$item.name}</option>
                    {else}
                    <option value="{$item.id}">{$item.name}</option>
                    {/if}
                    {/foreach}
                            </select>
                            <input type="button" value="确定" class="queding quding012"  this_id="{$info.id}"/><input type="button" class="quxiao quxiao012" value="取消" />
                        </form></span>
                    <span class="span012 tankuang13">
                        <form action="" class="clearfix">
                            <select name="wares" id="" class="left">
                                <option value="">请选择部门</option>
                               {foreach from=$department item=item}
                     {if $info.department==$item.id}
                    <option value="{$item.id}" selected="selected">{$item.name}</option>
                    {else}
                    <option value="{$item.id}">{$item.name}</option>
                    {/if}
                    {/foreach}
                            </select>
                            <input type="button" value="确定" class="queding quding012"  this_id="{$info.id}"/><input type="button" class="quxiao quxiao012" value="取消" />
                        </form></span>
                        <span class="span012 tankuang15">
                        设置邀请人<input type="text" placeholder="请输入邀请人电话" class="phone" onclick="focus();" /><input type="button" value="确定" class="queding quding012" this_id="{$info.id}"/><input type="button" class="quxiao quxiao012" value="取消" /></span>
                </div>
{/foreach} 
{if $info_count eq 0}
<div class="js-list-empty-region"><div>
    <div class="no-result widget-list-empty" style="text-align: center;border: 1px solid #eee;padding: 39px 0;margin-top:26px;">没有相关数据</div>


</div></div>
 {/if}               
            </div>
            <div class="shopFooter clearfix">
            	<!--<div class="left"><input type="button" value="批量设置等级" /><input type="button" value="批量设置标签" /><input type="button" value="批量加部门" /></div>
                <div class="right">
                	<p>共<em id="totle">11</em>条，每页20条，<input type="text" class="shuru" /><button>跳转</button></p>
                </div>-->
                <p>{$page_bar}</p>
            </div>
        </div>
	</div>
</div>
<div class="qingtui">
	<div class="center">
    	<ul class="clearfix">
        	<li class="one">确认清退</li>
            <li class="guanbi">×</li>
        </ul>
        <p>清退员工将锁定该员工店铺的交易。<br />清退后，该员工正在出售您的商品如果正在进行交易还需继续交易完成。</p>
        <div class="qqanniu"><input type="button" value="确定" class="queding01"  this_id=""/><input type="button" value="取消" class="quxiao01" /></div>
    </div>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('.nine p').click(function(){
			$('.span012').eq($(this).index('.nine p')).css('display','block');
			})
		$('.span012 .quxiao012').click(function(){
			$('.span012').eq($(this).index('.span012 .quxiao012')).css('display','none')
			})
		$('.tankuang12 .queding').click(function(){
			var dengji = $(this).parent().find("select").val();
			var dengji_text = $(this).parent().find("select").find("option:selected").text();
			if(dengji == ''){
				$('.dengji').eq($(this).index('.tankuang12 .queding')).html('无');
				$('.tankuang12').eq($(this).index('.tankuang12 .queding')).css('display','none')
				}else{
					$('.dengji').eq($(this).index('.tankuang12 .queding')).html(dengji_text);
					$('.tankuang12').eq($(this).index('.tankuang12 .queding')).css('display','none');
					data={"id":$(this).attr("this_id"),"rank":dengji}
					$.post("staff.php?act=ajax_save_rank",data,function (res)
					{
					})
					}
				})
				//部门
			$('.tankuang13 .queding').click(function(){
			var department = $(this).parent().find("select").val();
	
					$('.tankuang13').eq($(this).index('.tankuang13 .queding')).css('display','none')
					
				
				
				data={"id":$(this).attr("this_id"),"department":department}
				$.post("staff.php?act=ajax_save_department",data,function (res)
				{
				})
			})
			//标签
		$('.tankuang14 .queding').click(function(){
			var  biaoqian = $(this).parent().find("select").val();
			var biaoqian_text = $(this).parent().find("select").find("option:selected").text();
			if(biaoqian == ''){
				$('.biaoqian').eq($(this).index('.tankuang14 .queding')).html('无')
				$('.tankuang14').eq($(this).index('.tankuang14 .queding')).css('display','none')
				}else{
					$('.biaoqian').eq($(this).index('.tankuang14 .queding')).html(biaoqian_text);
					$('.tankuang14').eq($(this).index('.tankuang14 .queding')).css('display','none')
					
					
					}
				data={"id":$(this).attr("this_id"),"tag":biaoqian}
				$.post("staff.php?act=ajax_save_tag",data,function (res)
				{
				})
			})
		$('.tankuang15 .queding').click(function(){
			var  phone = $(this).parent().find(".phone").val();
			if(!phone.match(/^0?1[3|4|5|8|7][0-9]\d{8}$/)){
				alert("手机号码格式不正确!");
				$(".phone").focus();
				//$('.tankuang15').eq($(this).index('.tankuang15 .queding')).hide();
				}else{
					$('.yaoqingren').eq($(this).index('.tankuang15 .queding')).html(phone);
					$('.tankuang15').eq($(this).index('.tankuang15 .queding')).hide();
					data={"id":$(this).attr("this_id"),"phone":phone}
					$.post("staff.php?act=ajax_save_phone",data,function (res)
					{
					})
					}
			})
	});
</script>
<script type="text/javascript">
	function check(){
        var checkbox=document.getElementById('click')
        checkbox.value==2?checkbox.value=1:checkbox.value=2;
        var amount=document.getElementsByName('box');
        for(var i=0;i<amount.length;i++){
            if(checkbox.value==1){
                amount[i].checked=false;				
            }else{
                amount[i].checked=true;
            }
        }
    }
	
    jQuery(document).ready(function($) {
		//数量
		var changdu = $('.inShopNews').length;
		$('#totle').html(changdu);
		
		$('.shopHeader01 em').click(function(){
			$(this).addClass('curt').siblings().removeClass('curt');
			$('.shopHeader01 i').removeClass('curt');
			tag_id=$(this).attr("attr_id");
			$("input[name='tag']").val(tag_id);
			})
		$('.shopHeader01 i').click(function(){
			$(this).addClass('curt');
			$('.shopHeader01 em').removeClass('curt');
			})
		$('.inShopNews ul li i').click(function(){
			$('.span11').eq($(this).index('.inShopNews ul li i')).css('display','block');
			})
		$('.span11 .quxiao').click(function(){
			$('.span11').eq($(this).index('.span11 .quxiao')).css('display','none');
			})
		$('.span11 .queding').click(function(){
			var name = $('.name').eq($(this).index('.span11 .queding')).val();
			var this_id = $('.name').eq($(this).index('.span11 .queding')).attr("this_id");
			$('.span11').css('display','none');
			if(name == ''){
				$('.span11').eq($(this).index('.span11 .queding')).css('display','none');
				}else{
					$('.span11').eq($(this).index('.span11 .queding')).css('display','none');
					$('.inShopNews ul li em').eq($(this).index('.span11 .queding')).html(name);
					data={name:name,id:this_id}
					$.post("staff.php?act=ajax_save_name",data,function ()
					{},"json");
					}
			});
		$('.qt').click(function(){
			this_id=$(this).attr("this_id");
			$('.qingtui').css('display','block');
			$(".queding01").attr("this_id",this_id);
			})
		$('.qingtui .center input.quxiao01,.qingtui .guanbi').click(function(){
			$('.qingtui').css('display','none');
			})
		$('.qingtui .center input.queding01').click(function(){
			//$('.inShopNews').eq($(this).index()).remove();	
			
			this_id=$(this).attr("this_id");
			
			$('.inShopNews_'+this_id).remove();	
			$('.qingtui').css('display','none');
			$.post("staff.php?act=ajax_qingtui",{id:this_id},function ()
			{},"json");
			})
    });
</script>
</body>
</html>
