@charset "utf-8";
/* CSS Document */


.main{ overflow:hidden; zoom:1; width:1008px; position:relative; left:50%; margin-left:-504px;margin-top: 30px;}
.mainRight .assess{ width: 850px;}
.mainRight .assess li{ float: left; }
.mainRight .assess li a{ display: block; line-height: 30px; font-size: 14px; color: #999; background: #f8f8f8; border: 1px solid #ccc; width: 70px; text-align: center; margin-left: -1px; cursor: pointer; margin-bottom: -1px;}
.mainRight .assess li:nth-child(1) a{margin-left: 0px;}
.mainRight .assess li a.curre{ border-bottom:#fff 1px solid; background: #fff;}
.mainRight .line{ display: block; border: 1px solid #000; width: 500px; height: 32px;}
.mainRight .assess li:nth-child(5){ border-bottom: 1px solid #ccc; width: 565px; height: 31px;}
.inAssess{ width: 848px; line-height: 80px; text-align: center; border: 1px solid #ccc; margin-top: 10px; color: #999;}
.inAsse{ margin-top: 10px; width: 828px;border: 1px solid #ccc; padding: 10px; display: none;}
.inAsse p:nth-child(1) em{ color: #333;}
.inAsse p:nth-child(1) i{ color: #666;}
.inAsse p:nth-child(2){ text-align: right; margin-top: 5px; color: #999;}









