@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ overflow-x:hidden;}
body{font-size:12px; line-height:1.5; font-family: "Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif;}
.left{ float:left;}
.right{ float:right;}
li{ list-style:none;}
a{ list-style: none; font-style: normal; color: #d6134c; text-decoration: none; font-size: 15px;}
a:hover{color: #f17a16;}
p{ font-size: 14px;}
em{ font-style: normal;}
i{ font-style: normal;}
.clearfix{ overflow: hidden; zoom: 1;}

/*头部开始*/
.header{ height:80px; background: #f1f1f1; width:100%;}
.inHeader{ width: 1008px;/* border: 1px solid #000; */ margin:0 auto;}
.inHeader .logo a{ display: block;background: url(../images/logo.png) no-repeat center; height: 51px; width: 132px; line-height: 51px; text-align: center; text-indent: -9999px; margin-top: 20px;}
.inHeader .headerNav li{float: left; height: 40px; padding-top: 40px; }
.inHeader .headerNav li a{text-align: center; border-right: 1px solid #ccc;display: block; padding:0 30px; color: #333; font-size: 14px;}
.inHeader .headerNav li.current{ border-bottom: 1px solid #d6134c;}
.inHeader .headerNav li.current a{ color: #d6134c;}
.inHeader .headerNav li.seven a{ border-right: none;}
.inHeader .headerNav li.eight a{ color: #d6134c; border-right: none;}
/*头部结束*/

/*左侧栏开始*/
.mainLeft{ width: 115px;}
.mainLeft span a{ display:block; width: 110px; line-height: 30px; font-size: 14px; font-weight: bold; font-size: 16px; color: #999;}
.naver{ margin-top: 40px;}
.naver em{ font-size: 13px; color: #999; display: block; margin-top: 40px;}
.naver .leftNav li{ margin-top: 10px;}
.naver .leftNav li a{font-size: 16px; color: #666; width: 110px; display: block; }
.naver .leftNav li.cur a{ color: #f6134c; background: url(../images/sanj.png) no-repeat right center;}
.mainLeft span.currt a{ color: #d6134c; background: url(../images/sanj.png) no-repeat right center;}
/*左侧栏结束*/













