@charset "utf-8";
/* CSS Document */



.main{ overflow:hidden; zoom:1; width:1008px; position:relative; left:50%; margin-left:-504px;margin-top: 30px;}
.contentText01{ width:852px; background:#f8f8f8;}
.contentText01 ul{ overflow: hidden; zoom:1; padding:10px 20px; }
.contentText01 ul li{ font-size: 15px; width: 120px; float: left;padding:10px 20px;border-right: 1px solid #ccc; height: 40px; text-align: center;}
.contentText01 ul li:nth-child(5){ border:none; float: right;}
.contentText02{ width: 832px; padding:5px 0 5px 20px; background: #f8f8f8; margin-top: 30px;}
.contentText02 strong{ padding-left:20px; border-left: 5px solid #d6134c; font-size: 16px; display: block;}
.contentText03{ margin-top: 10px; overflow: hidden; zoom:1;}
.contentText03 .before ul li{ width: 178px; height: 101px; background: #f8f8f8; border: 1px solid #ccc; text-align: center;
	padding-top: 50px;}
.contentText03 .after{ width: 675px; background: #f8f8f8; height: 304px;}
.contentText03 .after .center{padding:9px 0 9px 15px;}
.contentText03 .after .center ul li{ line-height: 48px; text-align: right;}
.contentText03 .after .center ol{ margin-left: 8px; width: 600px;}
.contentText03 .after .center ol li{ line-height: 48px; color: #ccc;}
.contentText03 .after .center ol li:nth-child(5){ background: url(../images/page1_02.jpg) no-repeat center;}
.contentText03 .data i{ margin-left: 27px;}
.contentText04{ background: #f3f8fe; width: 813px; margin-top: 10px; padding:10px 20px 20px 20px;}
.dress{ padding:10px 20px 10px 20px; border-bottom: 1px solid #92d2fe;}
.dress input{ border: #92d2fe 1px solid; color: #92d2fe; width: 88px; height: 29px; border-radius: 3px; text-align: center;}
.dress span{ padding:0 10px 0 10px;}
.dress span.check{ margin-left: 20px;}
.contentText04 button{ width: 80px; height: 30px; background: #007ade; border-radius: 3px; border: none; margin-top: 15px;
	margin-left: 98px; color: #fff; font-weight: bold; cursor:pointer;}
.contentText05{ width: 832px; padding:5px 0 5px 20px; background: #f8f8f8; margin-top: 30px; overflow: hidden; zoom: 1;}
.contentText05 strong{ padding-left:20px; border-left: 5px solid #d6134c; font-size: 16px; display: block;}
.contentText05 span{ display: block; width: 18px; height:18px; border-radius: 50%; background: #ccc; color: #fff;
 font-weight: bold; text-align: center; line-height: 18px; margin-right:10px; margin-top: 5px; }
.contentText05 i{ color: #d6134c;}
.contentText06{ width: 852px; background:#f8f8f8; margin-top: 10px;}
.visitor{ overflow: hidden; zoom: 1; height: 68px; width: 686px; background: #f8f8f8; }
.contentText06{ position: relative;}
.contentText06 .rates01{ position: absolute; top: 38px; right:70px; overflow: hidden; zoom:1; width: 130px;}
.contentText06 .rates01 div{ float: right;margin-top: 10px;}
.contentText06 .rates01 div a{ color:#599aee;}
.contentText06 .rates01 img{ float: left;}
.contentText06 .rates02{ position: absolute; top: 111px; right:90px; overflow: hidden; zoom:1; width: 130px;}
.contentText06 .rates02 div{ float: right; margin-top: 10px;}
.contentText06 .rates02 div a{ color:#7bd287;}
.contentText06 .rates02 img{ float: left;}
.contentText06 .rates03{ position: absolute; top: 12px; right:5px; overflow: hidden; zoom:1; width: 205px;}
.contentText06 .rates03 div{ float: right; margin-top: -40px;}
.contentText06 .rates03 img{ float: left;}
.visitor .left{margin-left: 30px; margin-top: 15px;}
.visitor .right{ background: url(../images/page1_01.jpg) no-repeat center; width: 240px; height: 68px;}
.visitor a{ color: #007ade;}
.list{ width: 665px; background: #efefef; height: 67px; overflow: hidden; zoom: 1;}
.list ul{ overflow: hidden; zoom: 1;}
.list ul li{ float: left;margin-left: 30px; margin-top: 15px;}
.list .right{ background: url(../images/page1_04.jpg) no-repeat; width: 199px; height: 67px;}
.list a{color: #61cb71;}
.pay{ width: 645px; background: #f8f8f8; height: 68px; overflow: hidden; zoom: 1;}
.pay ul{ overflow: hidden; zoom: 1;}
.pay ul li{ float: left;margin-left: 30px; margin-top: 15px;}
.pay .right{ background: url(../images/page1_05.jpg) no-repeat; width: 160px; height: 68px;}
.pay a{color: #f35651;}
.contentText07{ width: 851px; height: 350px; border: 1px solid #ccc; background: #f8f8f8; margin-top: 10px;}
.contentText07 .center{padding:9px 0 9px 15px; width: 852px; height: 254px;}
.contentText07 .center ul li{ line-height: 55px; text-align: right; padding-left: 20px;}
.contentText07 .center ol li:nth-child(5){ background: url(../images/page1_1.png) no-repeat; width: 721px; height: 9px}
.contentText07 .center ol li{ width: 721px; height: 2px; background: #ccc; margin-left: 20px;}
.contentText07 .center ol li:nth-child(1){ margin-top: 29px;}
.contentText07 .center ol li:nth-child(2){ margin-top: 49px;}
.contentText07 .center ol li:nth-child(3){ margin-top: 54px;}
.contentText07 .center ol li:nth-child(4){ margin-top: 54px;}
.contentText07 .center ol li:nth-child(5){ margin-top: 48px;}
.contentText07 .data i{ margin-right: 47px;}
textarea{ width: 851px; height: 200px;}
.contentText08{ width: 851px; height: 200px; overflow: hidden; border: 1px solid #ccc; margin-top: 10px;}























